@use "variables" as v;

.gallerypage {
  padding: 20px;
  text-align: center; // para centrar el título dentro de la página

  h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center; // asegura que el título de "Gallery" quede centrado
  }

  .gallery-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); // 3 columnas
    gap: 20px;
    justify-items: center; // centra las imágenes dentro de cada celda

    img {
      width: 150px;
      height: 150px;
      object-fit: cover;
      border-radius: 12px;
      transition: transform 0.3s ease;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);

      &:hover {
        transform: scale(1.05) rotate(1deg);
      }
    }
  }
}
